import(ThreeWay,ExPosition,cluster,mvtnorm,rootSolve,MASS,klaR,GGally,ggplot2)
importFrom("graphics", "axis", "barplot", "legend", "matplot", "plot")
importFrom("stats", "runif", "cov", "cov.wt", "cov2cor", "mahalanobis")
importFrom("graphics", "pairs","par")
importFrom("ggeasy","easy_center_title")
export(FPDC, PDC, Silh, TuckerFactors, PDQ,GPDC, TPDC)
S3method(summary,FPDclustering)
S3method(plot,FPDclustering)
S3method(print,FPDclustering)


