import(ThreeWay,ExPosition,cluster,mvtnorm,rootSolve)
importFrom("graphics", "axis", "barplot", "legend", "matplot", "plot")
importFrom("stats", "runif", "cov", "cov.wt", "cov2cor", "mahalanobis")
export(FPDC, PDclust, Silh, TuckerFactors, PDQ,GPDC, TPDC)
